<h1>Rails 6 Boilerplate Application</h1>
<ul>
  <li>PostgreSQL database</li>
  <li>Minimal Rails 6 application to allow for fast forking and creation of new rails projects</li>
  <li>Full MiniTest suite for existing code</li>
  <li>Commercial grade user authentication with Bcrypt allowing:
    <ul>
      <li>Sign-up</li>
      <li>Log in/out</li>
      <li>Account verification and activation</li>
      <li>Cookie and session based password remembering and reset</li>
      <li>Friendly forwarding</li>
      <li>Basic user admin roles</li>
    </ul>
  </li>
</ul>
