<% provide(:title, 'Recipes') %>
<h1>Batches of your recipes</h1>
<ul>
  <% @recipe.batches.each do |batch| %>
    <li>
      <%= link_to batch.display_name, recipe_batch_path(@recipe, batch) %>
    </li>
  <% end %>
</ul>
