<% provide(:title, 'Recipes') %>
<h3>Batches of your recipes</h3>
<ul>
  <% @recipe.batches.each do |batch| %>
    <li>
      <%= link_to batch.display_name(truncate_by: 50), recipe_batch_path(@recipe, batch) %>
    </li>
  <% end %>
</ul>
